doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
    script(src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js")
    script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")   
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    <!-- Head -->
    div.row
      canvas#myCanvas(width="360" height="100")
      canvas#myCanvas1(width="440" height="100")
    script(src='/javascripts/header.js')
    script(src='/javascripts/ball.js')
    <!-- Navigate -->
    block navi
       
    div.container-fluid
      div.row
        div.col-sm-2
          block sidebar
                
        div.col-sm-10
          block content
