extends left

block content
  div.panel.panel-primary
    div.panel-heading
      h3.panel-title #{title}
  
  div(style='margin-left:20px;margin-top:20px')   
    ul
    each user in users
      li #{user.username} 
        |&nbsp; &nbsp; &nbsp; ( 
        a(href=user.url+'/update') 重置密码  
        | | 
        a(href=user.url+'/delete') 删除 
        |)
  
    else
      li 没有记录。