extends left

block content
  div.panel.panel-primary
    div.panel-heading
      h3.panel-title #{title}
    
  form(method='POST' action='')
    div.form-group
      label(for='name') 故障原因:
      input(type='text'  name='name' value=(undefined===gzyy ? '' : gzyy.name))
    div.form-group
      label(for='description') 备注:
      input.form-control(type='text'  name='description' value=(undefined===gzyy ? '' : gzyy.description))   

    button.btn.btn-primary(type='submit') 保存    
  if error
    p.text-danger #{error}
    
  script(src='/javascripts/nav.js')