extends ../nav

block sidebar
  ul.sidebar-nav
    li 
      a(href='/sbwx/sbwx') 未完成维修单列表
    li 
      a(href='/sbwx/sbwx/finish') 已完成维修单列表  
    li 
      a(href='/sbwx/gzyy') 故障原因列表   
    li 
      a(href='/sbwx/shebei') 设备列表     
    li 
      a(href='/sbwx/staff') 维修人员列表    
    li 
      hr
    li 
      a(href='/sbwx/sbwx/create') 新增维修单
    li 
      a(href='/sbwx/gzyy/create') 新增故障原因      
    li 
      a(href='/sbwx/shebei/create') 新增设备        
    li 
      a(href='/sbwx/staff/create') 新增维修人员     