extends left
block content
  div.panel.panel-primary
    
    div.panel-heading
     
     h3.panel-title #{title}
     
  url
    li
       a(href="/query/month")  9月PD2线查询
    
	 
  script(src='/javascripts/nav3.js')     
     
    

