extends ../nav

block sidebar
  ul.sidebar-nav
    li 
      a(href='/peijian/storage') 入库单列表       
    li 
      a(href='/peijian/provider') 供应商列表
    li 
      a(href='/peijian/peijian') 配件列表     

    li 
      hr
    li 
      a(href='/peijian/storage/create') 新增入库单     
    li 
      a(href='/peijian/provider/create') 新增供应商
    li 
      a(href='/peijian/peijian/create') 新增配件      

