extends left
block content
  div.panel.panel-primary
    
    div.panel-heading
     
     h3.panel-title #{title}

  h3 配件编号：#{peijian.bh}
    
  p.alert.alert-warning 确定要删除该信息吗?
    
  form(method='POST' action='')
    input(type='hidden' name='peijianid' value=peijian._id )
  
    button.btn.btn-primary(type='submit') 删除

  script(src='/javascripts/nav2.js')